@page "/"
@rendermode InteractiveServer
@using System.Text.Json
@using System.Text.Json.Serialization
@using TodoGui.Models
@using ApiRequestComponents.TodoGetAll
@using ApiRequestComponents.TodoPost
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<h1>Todo List from external API</h1>
<div class="home-todo-container">
    <TodoPost />
    <TodoGetAll />
</div>

@code{
}