@page "/"
@rendermode InteractiveServer
@using System.Text.Json
@using System.Text.Json.Serialization
@using TodoGui.Models
@using ApiRequestComponents.TodoGetAll
@using ApiRequestComponents.TodoGetSearchResult
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<h1>Todo List from external API</h1>

<TodoGetSearchResult />
<TodoGetAll />

@code{
}