@page "/"
@rendermode InteractiveServer
@using System.Text.Json
@using System.Text.Json.Serialization
@using TodoGui.Models
@using ApiRequestComponents.TodoGetAll
@* @using ApiRequestComponents.TodoPost *@
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<div class="home-todo-container container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <TodoGetAll />
        </div>
        <div class="col-2"></div>
    </div>
</div>

@code{
}