@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@using TodoGui.Models
@using TodoGetAll
@using TodoGetSingle
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<h1>Todo List from external API</h1>

<TodoGetSingle />
<TodoGetAll />

@code{
}