@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$background-color: #37474F;
$component-background-color: #607D8B;
$text-color: #252525;
$accent-text-color: #546E7A;
$danger-background-color: #FC7D49;
$success-background-color: black;