@import '_variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.single-todo-component {
    //display: flex;
    //justify-content: space-between;
    //width: 25%;
}

.label-container {
    width: 50%;
}

.label-item {

}

.information-container {
    width: 50%;
}

.information-item {

}