@namespace ApiRequestComponents.TodoUpdate
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer
@using TodoGui.Models

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target=@($"#modalId-{todo.Id}")>Edit</button>

<div id=@($"modalId-{todo.Id}") class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Update this?</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="input-group p-1">
                    <input type="text" class="form-control post-input" @bind="todo.Title" />
                </div>
                <div class="input-group p-1">
                    <textarea type="text" class="form-control post-input" @bind="todo.Description" style="resize: none" rows="2" />
                </div>
                <div class="input-group p-1">
                    <input type="text" class="form-control post-input" @bind="todo.TodoOwner"/>
                </div>
                <div class="input-group p-1">
                    @{isChecked = todo.isCompleted ? true : false;}
                    <p class="pe-2">Completed?</p>
                    <input class="form-check-input checkbox" type="checkbox" @bind="isChecked" id="isCompletedCheckbox" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" @onclick="() => {}">Save</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Todo? todo { get; set; }

    public Todo newTodo = new Todo();

    public bool isChecked;
}