@namespace ApiRequestComponents.TodoUpdate
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<div id="modal-id" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Update this?</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>This is where the updating will be happening</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" @onclick="() => {}">Save</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? todoId { get; set; }

}
