@namespace ApiRequestComponents.TodoPost
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer
@using TodoGui.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using System
@using System.Linq
@using MyComponents.SingleTodo

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#NewTodoModal">Add New</button>

<div id="NewTodoModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Add a New Todo Item</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>hello</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary">Save Todo</button>
            </div>
        </div>
    </div>
</div>

@code {

}
