@namespace ApiRequestComponents.TodoUpdate
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer
@using TodoGui.Models

<div id="@modalId" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Update this?</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="input-group p-1">
                    <input type="text" class="form-control post-input" placeholder="@todo.Title" @bind="newTodo.Title"/>
                </div>
                <div class="input-group p-1">
                    <textarea type="text" class="form-control post-input" placeholder="Extra Details..." @bind="newTodo.Description" style="resize: none" rows="2" />
                </div>
                <div class="input-group p-1">
                    <input type="text" class="form-control post-input" placeholder="@todo.TodoOwner" @bind="newTodo.TodoOwner"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" @onclick="() => {}">Save</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Todo? todo { get; set; }
    [Parameter] public string? modalId { get; set; }

    public Todo newTodo = new Todo();
}