@namespace SingleTodo

<div class="single-todo-component">
    <div class="label-container">
        <ul>
            <li class="label-item">Todo:</li>
            <li class="label-item">Details:</li>
            <li class="label-item">Owner:</li>
            <li class="label-item">Completed:</li>
        </ul>

    </div>
    <div class="information-container">
        <ul>
            <li class="information-item">@Title</li>
            <li class="information-item">@Description</li>
            <li class="information-item">@TodoOwner</li>
            <li class="information-item">@isCompleted</li>
        </ul>
    </div>

</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? TodoOwner { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public bool isCompleted { get; set; }

}
